
.o{width:1200px;margin:00px 200px 500px 200px;margin-top:500px;}
.card{width: 300px;float: left;}
.card1{width: 300px;margin-left:50px;margin-right:50px;float: right;}
.card2{width: 300px;margin-left:50px;margin-right:50px;float: right;}
