<div class="o">
  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="../assets/biking.jpeg" alt="Placeholder image">
      </figure>
    </div>
  
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="../assets/mountain.jpeg" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">John Smith</p>
          <p class="subtitle is-6">@johnsmith</p>
        </div>
      </div>
  
      <div class="card-content">
        <div class="media-content">
          <p class="title is-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum possimus reprehenderit animi laborum nobis architecto vero cum, rem nihil sit neque error harum maxime, autem ipsa? Cumque, sed iure? Nulla?
          </p>
          <p class="subtitle is-6">@nature</p>
        </div>
        <div class="content">
          saw this awesome tree!
        </div>
        <br>
        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
      </div>
    </div>
  </div>
  
  <!---->
  <div class="card1">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="../assets/biking.jpeg" alt="Placeholder image">
      </figure>
    </div>
  
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="../assets/mountain.jpeg" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">John Smith</p>
          <p class="subtitle is-6">@johnsmith</p>
        </div>
      </div>
  
      <div class="card-content">
        <div class="media-content">
          <p class="title is-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum possimus reprehenderit animi laborum nobis architecto vero cum, rem nihil sit neque error harum maxime, autem ipsa? Cumque, sed iure? Nulla?
          </p>
          <p class="subtitle is-6">@nature</p>
        </div>
        <div class="content">
          saw this awesome tree!
        </div>
        <br>
        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
      </div>
    </div>
  </div>
  
  <!---->
  <div class="card2">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="../assets/biking.jpeg" alt="Placeholder image">
      </figure>
    </div>
  
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="../assets/mountain.jpeg" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">John Smith</p>
          <p class="subtitle is-6">@johnsmith</p>
        </div>
      </div>
  
      <div class="card-content">
        <div class="media-content">
          <p class="title is-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum possimus reprehenderit animi laborum nobis architecto vero cum, rem nihil sit neque error harum maxime, autem ipsa? Cumque, sed iure? Nulla?
          </p>
          <p class="subtitle is-6">@nature</p>
        </div>
        <div class="content">
          saw this awesome tree!
        </div>
        <br>
        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
      </div>
    </div>
  </div>
  
</div>
